<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastCounting.dao.mapper.UserMapper">

    <resultMap id="userMap" type="User" autoMapping="true">
        <association property="role" javaType="Role" autoMapping="true" columnPrefix="roles_"/>
    </resultMap>

    <sql id="getAll">
select
       users.id,
       users.username,
       users.password,
       roles.id as roles_id,
       roles.code as roles_code
from users
left join roles on roles.id = users.role_id
    </sql>

    <sql id="filter">
        <where>
            <if test="searchRequest.roles != null">
                and roles.code in
                <foreach collection="searchRequest.getRoles()" item="role" open="(" close=")" separator=",">
                    '${role}'
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="pagination">
      <if test="searchRequest.getPage > 0 and searchRequest.getSize > 0"></if>
        offset ((#{searchRequest.page} -1) * #{searchRequest.size})
        limit #{searchRequest.size}
    </sql>


    <select id="getAll" resultMap="userMap" resultType="User" parameterType="map">
        <include refid="getAll"/>
        <include refid="filter"/>
        <include refid="pagination"/>
    </select>
    <select id="getCount" resultType="Long" parameterType="map">
        select count(distinct users.id)from(
        <include refid="getAll"/>
        <include refid="filter"/>
        ) as users
    </select>
</mapper>